/* Custom styles for Intro */
.intro-section {
    height: 100vh;
    width: 100%;
    background-color: #00000e; /* Color similar to the navbar */
    color: #ffffff; /* Text color for better visibility */
    display: flex;
  flex-direction: column;
  justify-content: space-between;
    
    margin-top: -76px;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    
  }
  
  .intro-text {
    width: 48%; /* Adjust the width of the text content */
    text-align: left;
  }
  
  .intro-image {
    width: 48%; /* Adjust the width of the image content */
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    padding: 20px;
  }
  
  
  /* Additional styles for SocialIcons */
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    margin-right: 10px;
  }